#containerSobreMin{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding-bottom: 50px;
}
#divSobreMim{
    padding: 40px;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
#divSobreMim:hover{
    box-shadow: 0px 0px 10px 1px rgb(255, 255, 255);
}

#divSobreMim h3{
    text-align: justify;
    font-weight: 400;
    font-size: 15px;

}