*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(/img/bg_perfil-2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%; */
    background-position: 0% 0%;
    margin: 0;
}
#container{
    background-image: url(/img/Teste-Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#divHeader{
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#fotoPerfil{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    border: 3px solid white;
    padding: 3px;
}
#divName h2{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    color: white;
    margin-bottom: 1px;
}
#divName h3{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
    font-size: 14px;
    margin-bottom: 0px;
    color: #7f7f7f;
}
.lista{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.listaHeader{
    padding-bottom: 50px;
}
.listaHeader a{
    padding: 0 20px;
}
#bi-instagram:hover{
    color: #E81239;
}
#bi-linkedin:hover{
    color: #0645DC;
}
#bi-git:hover{
    color: white;
}
#bi-email:hover{
    color: rgb(157, 4, 252);
}
/***** CONTAINER LINKS *****/

#containerLinks{
    width: 100%;
    height: 100vh;
    background-color: rgb(99, 99, 99);
}
#listaLinks{
    margin: 0 auto;
    width: 90%;
    height: 800px;
    background-color: #c4ddf8;
}
.txtLinks{
    padding-bottom: 50px;
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
    height: 20px;
    font-size: 19px;
}
#testando{
display: flex;
}
#column {
    margin: 0 auto;
    width: 80%;
    /* height: 100vh;  */
    text-align: center;
}
#column a{
    border-radius: 10px;
    display: flex;
    justify-content: left;
    text-decoration: none;
    padding: 20px 10px;
    font-size: 20px;
    width:100%;
    background-color: #fffbfc;
    border-bottom: solid rgb(0, 0, 0) 2px;
}
