*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(/img/bg_perfil-2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%; */
    background-position: 0% 0%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#container{
    background-image: url(/img/Teste-Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#divHeader{
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}
#fotoPerfil{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    border: 3px solid white;
    padding: 3px;
}
#divName h2{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    color: white;
    margin-bottom: 1px;
}
#divName h3{
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
    font-size: 14px;
    margin-bottom: 0px;
    color: #7f7f7f;
}
.lista{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.listaHeader{
    padding-bottom: 50px;
}
.listaHeader a{
    padding: 0 20px;
}
#bi-instagram:hover{
    color: #ff002f;
    transition: 400ms;
}
#bi-linkedin:hover{
    color: #0645DC;
    transition: 400ms;
}
#bi-git:hover{
    color: white;
    transition: 400ms;
}
#bi-email:hover{
    color: rgb(157, 4, 252);
    transition: 400ms;
}
/***** LISTA LINKS *****/

#containerLinks{
    margin-top: -18px;
    width: 100%;
    height: 100%;
    background-color: rgb(153, 153, 153);
    border-radius: 20px 20px 0px 0px;
}
#listaLinks{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    background-color: #ffffff;
}
.txtLinks{
    padding-bottom: 50px;
    padding-top: 25px;
    margin: 0 auto;
    width: 90%;
    height: 20px;
    font-size: 19px;
}
#testando{
    display: flex;
}
#column {
    margin: 0 auto;
    width: 90%;
    /* height: 100vh;  */
    text-align: center;
}
#testeLinkDiv{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px 0;
}
#columnListaAncoras{
    display: flex;
    justify-content: left;
    text-decoration: none;
    line-height: 30px;
    padding: 20px 10px;
    margin-bottom: 0px;
    font-size: 16px;
    width:100%;
    font-weight: 600;
    color: #0645DC;
    background-color: #ffffff;
    border-bottom: solid #c9c9c9 2px;
}
#columnListaAncoras:hover{
    background-color: #0645DC;
    color: #ffffff;
    border-radius: 10px;
    transition: 500ms;
    
}
/* Link Caed personalisado */
#columnListaAncorasCaed{
    display: flex;
    justify-content: left;
    text-decoration: none;
    line-height: 30px;
    padding: 20px 10px;
    margin-bottom: 0px;
    font-size: 16px;
    width:100%;
    font-weight: 600;
    color: #0645DC;
    background-color: #ffffff;
    border-bottom: solid #c9c9c9 2px;
}
#columnListaAncorasCaed:hover{
    background-color: #FF3300;
    color: #ffffff;
    border-radius: 10px;
    transition: 500ms;
}
#setaVoltar{
    width:  24px;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #c9c9c92b;
    border-radius: 5px;
}
#testando{
    width:  30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #c9c9c92b;
    border-radius: 5px;
}
/* Link Caed personalisado */
#testandoCaed{
    width:  30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #c9c9c92b;
    border-radius: 5px;
}
/***** FOOTER *****/
.containerFooter{
    width: 90%;
    height: 170px;
    margin: 0 auto;
    text-align: center;
}
.footer{
    color: #7f7f7f;
    margin: 0 auto; 
    width: 80%; 
    margin-top: 77px;
    padding-top: 15px;
    border-top: 2px solid #DDDDDD;
    padding-top:20p;
    position: absolute;
    
}
.footer a {
    text-decoration: none;
    color: #7f7f7f;
}
.footer a span{
    color: #0645DC;
    font-weight: 900;
}